.down-buttons > li {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media (min-width: 550px){
    *{
        --time: 0.5s
    }
    .down-buttons{
        position: absolute;
        display: flex;
        z-index: 100;
        background-color: white;
        width: fit-content;
        height: 50px;
        padding: 5px;
        border-radius: 25px;
        gap: 10px;
        top: 70px;
        right: calc(50vw - 235px);
        list-style: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
        transition: var(--time);
    }

    .down-buttons > li{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: fit-content;
        padding: 5px;
        color: white;
        background-color: #0455BF;
        border-radius: 20px;
        cursor: pointer;
        transition: var(--time);
    }

    .down-buttons > li > p{
        font-size: 0px;
        transition: var(--time);
    }

    .down-buttons > li > svg{
        font-size: 23px;
        width: 30px;
        transition: var(--time);
    }

    .down-buttons > li:hover > svg{
        font-size: 0px;
        width: 0;
    }

    .down-buttons li:hover > p{
        font-size: 16px;
        margin: 5px;
    }

}

@media (orientation: portrait) and (max-width: 550px){
    .down-buttons{
        position: absolute;
        display: flex;
        z-index: 100;
        width: fit-content;
        padding: 5px;
        height: 40px;
        top:60px;
        right: 2.5vw;
        border-radius: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        gap: 10px;
        background-color: white;
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    .down-buttons > li > p{
        display: none;
    }

    .down-buttons > li{
        width: 30px;
        height: 30px;
        background-color: #0455BF;
        border-radius: 15px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

}