.region-header-title{
    position: absolute;
    z-index: 100;
    width: fit-content;
    align-self: center;
    margin-left: 50%;
    font-size: 1.2em;
    top: 20px;
    transform: translateX(-50%);
    border-radius: 25px;
    border: none;
    padding-right: 30px;
    padding-left: 30px;
    background-color: white;
    padding:10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.41);
}

.full-layout{
    transition: .5s;
    width: 100vw;
    height: calc(100vh - 80px);
    position: absolute;
    left: -100vw;
}

.full-layout.active{
    left: 0;
    transition: .5;
}

