.class-object{

    position: relative;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    border-right: 1px solid rgba(128, 128, 128, 0.2);
    width: 95%;
    height: 50px;
    overflow: hidden;
    margin: 3px 0px;
    border-radius: 5px;
    transition: .3s;
}

.class-object.active{
    background-color: #0455BF;
    height: max-content;
    color: white;
    margin-bottom: -2px;
    border-radius: 5px;
}

.class-object:hover{
    background-color: #0455BF;
    color: white;
    border: none;
}

.object-content{
    padding: 10px;
    width: 100%;
    height: 50px;
}
.name{
    position: absolute;
    text-align: center;
    width: 300px;
}
.icon{
    position: absolute;
    right: 20px;
    transition: .3s;
}
.icon.active{
    transform: rotate(90deg);
}

.childrens-list{
    width: 94%;
    max-height: 40vh;
    margin: 3%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}