.regions-selector select{
    display: none;
}

.regions-selector{
    position: absolute;
    z-index: 100;
    width: fit-content;
    height: 50px;
    align-self: center;
    margin-left: 50%;
    top: 30px;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 25px;
    border: none;
    padding-right: 10px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.41);
}
