

@media (min-width: 550px){}
@media (orientation: portrait) and (max-width: 550px){}
.region-selector{
    position: absolute;
    z-index: 100;
    width: 200px;
    height: 40px;
    align-self: center;
    left: 50vw;
    top:90px;
    transform: translateX(-50%) scale(0);
    padding: 8px;
    border-radius: 25px;
    border: none;
    padding-right: 10px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: 1s;
    cursor: pointer;
}

.region-selector.active{
    transform: translateX(-50%) scale(1);
}

.region-selector select{
    display: none;
}
