.marker{
    position: absolute;
    border-radius: 50% 50% 50% 0;
    background-color: white;
    border: 5px solid var(--MainColor);
    width: 40px;
    height: 40px;
    transform: translateX(-50%) translateY(-120%) rotate(-45deg);
    transition: .5s;
    cursor: pointer;
    overflow: hidden;
}

.eleName{
    color: var(--MainColor);
    width: 80px;
    text-align: center;
    display: inline-block;
    font-size: 16;
    position: relative;
    font-weight: 600;
    transform: scale(0);
    transition: .5s;
}
.subName{
    font-weight: 400;
    text-align: center;
    position: relative;
    display: inline-block;
    font-size: 15;
    transform: scale(0);
    transition: .5s;
}

.eleName.active{
    transform: scale(1);
}
.subName.active{
    transform: scale(1);
}



.marker.active{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    overflow-wrap: normal;
    border-radius: 5px;
    transform: translateX(-50%) translateY(-110%);
    cursor: pointer;
    transition: .5;
    transform-origin: bottom center;
    z-index: 10000;
    overflow: visible;
    padding: 5px;
}




.marker.active::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: -15px;
    background-color: var(--MainColor);
    clip-path: polygon(100% 25%, 0 25%, 50% 100%);
    transition: .5s;
}

.marker.active > .img-icon{
    position: absolute;
    width: 90px;
    height: 90px;
    opacity: 0.15;
    transform: rotate(0deg);
    transform-origin: center;
    transition: .5s;
}

.marker:hover{
    box-shadow: 0 0 3px var(--MainColor);
    z-index: 100000;
}

.marker > .img-icon{
    position: absolute;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    transition: .5s;
    transform-origin: center;
}



